@import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
	background-color: black;
}

#loby {
	margin-top: 2em;
	padding: 1em;
}

h1 {
	color: white;
    font-size: 2.5rem;
    text-align: center;
    display: block;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transform: perspective(300px) rotateX(15deg);
}

h5 {
	margin-bottom: 0.8em;
	font-style: italic;
	padding-top: 0.8em;
}

.test {
	border: 2px solid black;
}

.game-logo {
	width: 90%;
	height: 100%;
	border: 4px solid green;
	border-radius: 50%;
	box-shadow: 0 0 20px greenyellow, 0 0 40px greenyellow;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.player-wrapper {
	border: 4px solid green;
	border-radius: 20px;
	box-shadow: 0 0 20px greenyellow, 0 0 40px greenyellow;
	padding: 2em;
	width: 80%;
	background: url('../images/Grass2.jpg') no-repeat center/cover;
}

#player-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.create-player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.input-label {
	color: black;
	font-weight: bolder;
	font-size: 1.3rem;
	text-align: center;
}

.input-field {
	color: black;
	border: 2px solid darkgreen;
	border-radius: 10px;
	box-shadow: 0 0 15px darkgreen, 0 0 30px darkgreen;
	text-align: center;
	padding: 0.2em;
	width: 230px;
	height: 50px;
}

.playerBtn {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 2px solid darkgreen;
	box-shadow: 0 0 15px darkgreen, 0 0 30px darkgreen;
	background-color: red;
	width: 90px;
    height: 90px;
    border-radius: 50%;
	margin-top: 0.3em;
}

#sektion1 {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.3em;
	gap: 5em;
}

#sektion2 {
    padding: 0.3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.ongoing-games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px double red;
	border-radius: 20px;
	box-shadow: 0 0 13px darkred, 0 0 26px darkred;
	padding: 0.3em;
	width: 80%;
	color: white;
}

.games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px double red;
	border-radius: 20px;
	box-shadow: 0 0 13px darkred, 0 0 26px darkred;
	padding: 0.3em;
	width: 80%;
	color: white;
	margin-bottom: 1em;
}

.highscores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px double red;
	border-radius: 20px;
	box-shadow: 0 0 13px darkred, 0 0 26px darkred;
	padding: 0.3em;
	width: 80%;
	color: white;
}

.game-board {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: 100vh;
	padding-top: 2em;
	padding-bottom: 2em;
    justify-content: center;
	align-items: center;
  }

.game-field {
    width: 95%;
    height: 80%;
    background: url('../images/Grass2.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	border: 0.5px solid green;
	border-bottom: none;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0 0 12px greenyellow, 0 0 24px greenyellow;
}

#countdown-timer {
	font-size: 4rem;
	color: black;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 85%;
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.grid-field {
    display: flex;
    color: white;
    font-size: 12px;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
	background-color: transparent;
	overflow: visible;
}

.mole {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	height: 105%;
	width: 105%;
}

.game-info {
	width: 95%;
    height: 20%;
    background: url('../images/UndergroundBackground.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
	background-size: 100% 145%;
	background-position: center;
	border: 0.5px solid rgb(56, 38, 38);
	border-top: none;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0 0 40px rgb(71, 27, 27), 0 0 80px rgb(71, 27, 27);
}

.players-name {
	font-size: 2rem;
	color: greenyellow;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 1em;
}

.players-timer {
	font-size: 1rem;
	color: greenyellow;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 6em;
	width: 560px;
	border: 2px solid red;
	padding: 4em;
}

.span {
	width: 45%;
	padding: 2em;
}

.hide {
	display: none;
}

@media all and (min-width: 660px) {

	h1 {
		font-size: 3.5rem;
	}

	.player-wrapper {
		width: 70%;
	}

	.input-label {
		font-size: 1.3rem;
	}

	.input-field {
		border: 2px solid green;
		box-shadow: 0 0 20px greenyellow, 0 0 40px greenyellow;
		width: 280px;
		height: 50px;
	}

	.mole {
		height: 100%;
		width: 100%;
	}

	.ongoing-games-data {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		width: 60%;
	}

	.games-data {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		width: 60%;
	}

	.highscores {
		width: 80%;
	}
}

@media all and (min-width: 860px) {

	.game-logo {
		width: 70%;
		height: 25%;
	}

	.player-wrapper {
		width: 30%;
	}

	.input-field {
		width: 100%;
		padding: 1.5em;
	}

	.playerBtn:hover {
		background-color: darkred;
		border-color: red;
	}

	.playerBtn:active {
		background-color: maroon;
		border-color: black;
	}

	#sektion1 {
		width: 98%;
		display: flex;
		flex-direction: row;
		justify-content:center;
		align-items: center;
		gap: 4em;
		padding: 1.5em;
	}

	#sektion2 {
		width: 98%;
		display: flex;
		flex-direction: row;
		gap: 3em;
	}

	.highscores {
		width: 40%;
	}

	.ongoing-games-data {
		width: 40%;
	}

	.games-data {
		width: 40%;
	}

	.hide {
		display: none;
	}
}

@media all and (min-width: 1060px) {

	.loby {
		align-items: center;
	}

	#sektion1 {
		width: 70%;
		gap: 4em;
	}

	.game-logo {
		width: 50%;
		height: 25%;
	}

	.player-wrapper {
		width: 50%;
	}

	#sektion2 {
		width: 95%;
		gap: 3em;
	}

	#sektion2 {
		padding: 0;
	}

	.ongoing-games-data {
		width: 100%;
		padding: 1em;
	}

	.games-data {
		width: 100%;
		padding: 1em;
	}

	.hide {
		display: none;
	}
}

