@import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
	// background-color: black;
}

body {
	background-color: black;
}

h1 {
	color: white;
	padding-top: 0.5em;
}

h5 {
	margin-bottom: 0.8em;
	font-style: italic;
	padding-top: 0.8em;
}

.game-logo {
	width: 80%;
	height: 65%;
	border: 4px solid orange;
	border-radius: 50%;
	box-shadow: 0 0 10px yellow, 0 0 20px yellow;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.player-wrapper {
	border: 6px double orange;
	border-radius: 20px;
	box-shadow: 0 0 7px yellow, 0 0 14px yellow;
	padding: 2em;
	width: 80%;
}

#player-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.create-player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.input-label {
	color: white;
}

.input-field {
	color: white;
	border: 1px solid red;
	border-radius: 10px;
	box-shadow: 0 0 13px darkred, 0 0 26px darkred;
	text-align: center;
	padding: 0.2em;
	width: 230px;
	height: 40px;
}

.playerBtn {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 2px solid darkred;
	box-shadow: 0 0 10px darkred, 0 0 20px darkred;
	background-color: red;
	width: 90px;
    height: 90px;
    border-radius: 50%;
	margin-top: 0.3em;
}

.playerBtn:hover {
    background-color: darkred;
    border-color: red;
}

.playerBtn:active {
    background-color: maroon;
    border-color: black;
}

#sektion1 {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.3em;
	gap: 3em;
}

#sektion2 {
    padding: 0.3em;
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.ongoing-games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 6px double orange;
	border-radius: 20px;
	box-shadow: 0 0 8px yellow, 0 0 16px yellow;
	padding: 0.3em;
	width: 80%;
	color: white;
}

.games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 6px double orange;
	border-radius: 20px;
	box-shadow: 0 0 8px yellow, 0 0 16px yellow;
	padding: 0.3em;
	width: 80%;
	color: white;
}

.highscores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 6px double orange;
	border-radius: 20px;
	box-shadow: 0 0 8px yellow, 0 0 16px yellow;
	padding: 0.3em;
	width: 80%;
	color: white;
	margin-bottom: 1em;
}

.game-board {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: 100vh;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
    justify-content: center;
	align-items: center;
  }

.game-field {
    width: 95%;
    height: 80%;
    background: url('../images/Grass2.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(56, 38, 38);
	position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 85%;
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.grid-field {
    display: flex;
    color: white;
    font-size: 12px;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
	background-color: transparent;
	overflow: visible;
}

.mole {
	position: absolute;
    top: -10px;
    height: 140%;
    width: 140%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.game-info {
	width: 95%;
    height: 20%;
    background: url('../images/UndergroundBackground.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(56, 38, 38);
	background-size: 100% 145%;
	background-position: center;
}

@media all and (min-width: 560px) {

	.input-label {
		font-size: 1.3rem;
	}

	.input-field {
		box-shadow: 0 0 7px pink, 0 0 14px pink;
		width: 280px;
		height: 40px;
	}

	.ongoing-games-data {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		gap: 2em;
	}

	.games-data {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		gap: 2em;
	}
}

@media all and (min-width: 860px) {}

@media all and (min-width: 1000px) {}
