@import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
	background-color: black;
}

.loby {
	background: url('/Images/Universe2.gif') no-repeat center/cover;
}

h1 {
	color: rgb(235, 129, 147);
    font-size: 2.7rem;
    text-align: center;
    display: block;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transform: perspective(300px) rotateX(15deg);
	padding: 0.7em;
	font-family: 'Rubik Moonrocks', sans-serif;
	word-spacing: 15px;
}

h5 {
	margin-bottom: 0.8em;
	font-style: italic;
	padding-top: 0.8em;
	font-size: 1.5rem;
	font-family: 'Frijole', sans-serif;
	text-shadow: 0 0 60px white, 0 0 120px white;
	color: plum;
}

.game-logo {
	width: 85%;
	border: 4px solid white;
	border-radius: 50%;
	box-shadow: 0 0 40px pink, 0 0 80px pink;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.player-wrapper,
.player-wrapper2 {
	border: 4px solid black;
	border-radius: 20px;
	box-shadow: 0 0 40px pink, 0 0 80px pink;
	padding: 1em;
	width: 90%;
	min-height: 50vh;
	background: url('/Images/Kalle och Hobbe.gif') no-repeat center/cover;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.player-wrapper2 {
	padding: 2em;
}

.player-wrapper3 {
	border: 4px solid white;
	border-radius: 20px;
	box-shadow: 0 0 40px pink, 0 0 80px pink;
	padding: 9.5em 3em 9.5em 3em;
	width: 90%;
	background: url('/Images/Waiting for player.gif') no-repeat;
	background-size: cover;
	background-position: 80% 20%;
	min-height: 50vh;
	color: white;
	position: relative;
}

.waiting {
	position: absolute;
    top: 10%;
    left: 7%;
	font-family: 'Spicy Rice', sans-serif;
	word-spacing: 7px;
	color: whitesmoke;
	text-shadow: 0 0 1px purple, 0 0 2px purple;
}

#player-form,
#player-form2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14em;
}

.create-player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.input-label {
	color: black;
	font-weight: bolder;
	font-size: 1.3rem;
	text-align: center;
	font-family: 'Henny Penny', sans-serif;
	word-spacing: 2px;
	text-shadow: 0 0 1px plum, 0 0 2px plum;
}

.input-field {
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 0 0 5px plum, 0 0 10px plum;
	text-align: center;
	padding: 0.5em;
	width: 100%;
}

.playagain {
	font-family: 'Henny Penny', sans-serif;
	word-spacing: 10px;
}

.playerBtn,
.playerBtn2 {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 2px solid pink;
	box-shadow: 0 0 5px plum, 0 0 10px plum;
	background-color: black;
	width: 90px;
    height: 90px;
    border-radius: 50%;
	margin-top: 3em;
	font-family: 'Henny Penny', sans-serif;
	font-size: 1.3rem;
}

#sektion1 {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.3em;
	gap: 5em;
}

#sektion2 {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5em;
}

.highscores {
	width: 90%;
	background-color: black;
	border-radius: 20px;
}

.highscores-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px solid white;
	border-radius: 20px;
	box-shadow: 0 0 60px pink, 0 0 120px pink;
	padding: 1em;
	padding-bottom: 2em;
	width: 100%;
	color: white;
	text-align: center;
}

.game-stats-wrapper,
.game-stats,
.game-stats-highscore,
.game-stats-reactiontime {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.games-wrapper {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3em;
	padding-bottom: 2em;

}

.ongoing-games, .games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 4px solid white;
	border-radius: 20px;
	box-shadow: 0 0 60px pink, 0 0 120px pink;
	padding: 0.3em;
	width: 100%;
	min-height: 100%;
	color: white;
	padding-bottom: 1em;
	background-color: black;
}

.ongoing-games-layout {
	display: flex;
	justify-content: center;
	gap: 1.3em;
	padding: 0.5em;
}

.game-stats-wrapper,
.ongoing-games-layout {
	font-family: 'Mystery Quest', sans-serif;
	word-spacing: 6px;

}

.games-info-text {
	color: yellow;
}

.game-board {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: 100vh;
	padding-top: 2em;
	padding-bottom: 2em;
    justify-content: center;
	align-items: center;
	background: url('/Images/Universe2.gif') no-repeat center/cover;
  }

.ongoing-games-data {
	width: 100%;
}

.games-data {
	width: 100%;
}

.game-field {
    width: 95%;
    height: 80%;
    background: url('/Images/Grass2.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	border: 0.5px solid green;
	border-bottom: none;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0 0 20px pink, 0 0 40px pink;
}

#countdown-timer {
	font-size: 8rem;
	color: red;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	font-family: 'Rubik Moonrocks', sans-serif;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 85%;
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.grid-field {
    display: flex;
    color: white;
    font-size: 12px;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
	background-color: transparent;
	overflow: visible;
}

.mole {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	height: 105%;
	width: 105%;
}

.game-info {
	width: 95%;
    height: 20%;
    background: url('/Images/UndergroundBackground.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
	background-size: 100% 145%;
	background-position: center;
	border: 0.5px solid rgb(56, 38, 38);
	border-top: none;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0 0 10px pink, 0 0 20px pink;
	gap: 2em;
	position: relative;
}

.round-wrapper {
	position: absolute;
    top: 0.5em;
    left: 0.60em;
}

.round {
	font-size: 1rem;
	color: white;
	font-family: 'Frijole', sans-serif;
}

.round-data,
.score-data {
	font-size: 1rem;
	font-family: 'Frijole', sans-serif;
	color: yellow;
	text-align: center;
	margin-top: -0.3em;
}

.scores-wrapper {
	position: absolute;
    top: 0.5em;
    right: 0.30em;
}

.score {
	font-size: 1rem;
	color: white;
	font-family: 'Frijole', sans-serif;
	text-align: center;
}

.playersInGame {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin-top: 2em;
}

.players-names {
	font-size: 1.3rem;
	font-family: 'Mystery Quest', sans-serif;
	color: yellow;
	text-shadow: 0 0 5px pink, 0 0 10px pink;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 1em;
}

.vs {
	font-size: 1.3rem;
	font-family: 'Mystery Quest', sans-serif;
	text-shadow: 0 0 5px pink, 0 0 10px pink;
	color: yellow;
	text-align: center;
	margin-top: 0.9em;
}

.players-timers {
	font-size: 1rem;
	color: red;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center;
	min-width: 80px;
}

.backtolobby {
	text-align: center;
	color: white;
	border: 2px solid darkgreen;
	box-shadow: 0 0 15px darkgreen, 0 0 30px darkgreen;
	background-color: red;
	width: 60px;
    height: 60px;
    border-radius: 50%;
	margin-top: 2em;
	margin-left: 1em;
}

.hide {
	display: none;
}

@media all and (min-width: 660px) {

	h1 {
		font-size: 3.5rem;
	}

	h5 {
		font-size: 2rem;
	}

	.game-logo {
		width: 75%;
	}

	.player-wrapper,
	.player-wrapper2 {
		width: 70%;
	}

	.player-wrapper3 {
		width: 60%;
	}

	.mole {
		height: 100%;
		width: 100%;
	}

	.input-label,
	.round,
	.round-data,
	.score,
	.score-data {
		font-size: 1.3rem;
	}

	.game-stats,
	.game-stats-highscore,
	.game-stats-reactiontime,
	.ongoing-games-layout {
		font-size: 1.2rem;
	}

	.round-wrapper {
		position: absolute;
		top: 0.5em;
		left: 1em;
	}

	.scores-wrapper {
		position: absolute;
		top: 0.5em;
		right: 1em;
	}

	.playersInGame {
		gap: 3em;
		margin-top: 0;
	}

	.players-names {
		font-size: 1.8rem;
		gap: 1em;
	}

	.vs {
		font-size: 1.8rem;
		margin-top: 0.6em;
	}

	.players-timers {
		font-size: 1.1rem;
	}

}

@media all and (min-width: 860px) {

	.game-logo {
		width: 65%;
	}

	.player-wrapper,
	.player-wrapper2,
	.player-wrapper3 {
		width: 35%;
	}

	.input-field {
		width: 100%;
	}

	.playerBtn:hover {
		color: black;
		background-color: pink;
		border-color: purple;
	}

	.playerBtn:active {
		background-color: plum;
		border-color: black;
	}

	#sektion1 {
		width: 98%;
		display: flex;
		flex-direction: row;
		justify-content:space-evenly;
		align-items: center;
		padding: 1.5em;
	}

	.highscores {
		width: 95%;
	}

	.game-stats-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 6em;
	}

	.games-wrapper {
		width: 95%;
		display: flex;
		flex-direction: row;
		gap: 3em;
		align-items: stretch;
	}

	.ongoing-games,
	.games {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
	}

	.ongoing-games-data {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
	}

	.games-data {
		width: 50%;
	}

	.playersInGame {
		gap: 3.5em;
	}

	.players-names {
		font-size: 2.4rem;
		gap: 1em;
	}

	.vs {
		font-size: 2rem;
		margin-top: 0.4em;
	}

	.players-timers {
		font-size: 1.3rem;
	}

	.round,
	.round-data,
	.score,
	.score-data  {
		font-size: 1.5rem;
	}

	.hide {
		display: none;
	}
}

@media all and (min-width: 1060px) {

	.loby {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: 5rem;
	}

	h5 {
		font-size: 2.3rem;
	}

	#sektion1 {
		width: 100%;
		gap: 6em;
	}

	#sektion2 {
		width: 90%;
		gap: 6em;
	}

	.game-logo {
		width: 45%;
	}

	.player-wrapper,
	.player-wrapper2,
	.player-wrapper3 {
		width: 25%;
	}

	.game-stats,
	.game-stats-highscore,
	.game-stats-reactiontime,
	.ongoing-games-layout {
		font-size: 1.6rem;
	}

	.game-stats-wrapper {
		gap: 5em;
	}

	.games-wrapper {
		justify-content: space-between;
	}

	.ongoing-games-data {
		width: 50%;
	}

	.games-data {
		width: 30%;
	}

	.playersInGame {
		gap: 5.5em;
	}

	.players-names {
		font-size: 2.6rem;
		gap: 1em;
	}

	.vs {
		font-size: 2.3rem;
		margin-top: 0.4em;
	}

	.players-timers {
		font-size: 1.5rem;
	}

	.round,
	.round-data,
	.score,
	.score-data {
		font-size: 1.7rem;
	}

	.hide {
		display: none;
	}
}

