@import "bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
	// background-color: black;
}

body {
	background-color: black;
}

h1 {
	color: white;
	padding-top: 0.5em;
}

.game-logo {
	width: 80%;
	height: 65%;
	border: 4px solid orange;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.player-wrapper {
	border: 2px solid orange;
	border-radius: 20px;
	padding: 1em;
	width: 80%;
}

#player-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.create-player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.3em;
}

.input-label {
	color: white;
}

.input-field {
	color: white;
	border: 1px solid orange;
	border-radius: 10px;
	text-align: center;
	padding: 0.2em;
}

#connectBtn {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	border: 2px solid orange;
	border-radius: 10px;
	background-color: black;
}

#sektion1 {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.3em;
	gap: 3em;
}

#sektion2 {
    padding: 0.3em;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}

.ongoing-games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid orange;
	border-radius: 20px;
	padding: 0.3em;
	width: 80%;
	color: white;
}

.games {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid orange;
	border-radius: 20px;
	padding: 0.3em;
	width: 80%;
	color: white;
}

.highscores {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid orange;
	border-radius: 20px;
	padding: 0.3em;
	width: 80%;
	color: white;
	margin-bottom: 1em;
}

.game-board {
    display: flex;
	flex-direction: column;
    width: 100%;
    height: 100vh;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
    justify-content: center;
	align-items: center;
  }

.game-field {
    width: 95%;
    height: 80%;
    background: url('../images/Grass2.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(56, 38, 38);
	position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 85%;
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.grid-field {
    display: flex;
    color: white;
    font-size: 12px;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
	background-color: transparent;
	overflow: visible;
}

.mole {
	position: absolute;
    top: -10px;
    height: 140%;
    width: 140%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.game-info {
	width: 95%;
    height: 20%;
    background: url('../images/UndergroundBackground.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(56, 38, 38);
	background-size: 100% 145%;
	background-position: center;
}
